.navbar {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.397);
}

ul {
    list-style: none;
    width: 200px;

}

li {
    padding: 0 20px;

}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
}

#links-global a {
    color: black;
}

.container-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 25px;
}

.container-logo-div{
    width: 20%;
}

#container-logo {
    width: 100%;
}

.conteiner-search {
    display: flex;
    align-items: center;
}

#pesquisa {
    margin-right: 50px;
}

.conteiner-form-input-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisa input {
    width: 100%;
    border-radius: 10px;
}

#busca {
    border: none;
    background-color: rgb(213, 218, 224);
}

#pesquisa button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
}

.conteiner-search button {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 2%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#account_circle {
    font-size: 40px;
    margin-right: 30px;
}

#menu-login-icone li a {
    color: black;
}

/* menu global */

.container-menu-global {
    width: 100%;
    border-top: 1px groove white;
}

.menu-global {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu-global a:hover {
    opacity: 0.7;
}

.menu-global li {
    color: white;
}

@media screen and (max-width: 600px) {
    .container-barra {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteiner-search {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-logo-div {
        text-align: center;
        width: 50%;
    }

    #container-logo {
        width: 100%;
        margin: 4px 0;
    }

    #pesquisa {
        margin: 4px 0;
    }

    #account_circle {
        margin: 4px 0;
    }
}