.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
}
.slides {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}
.slides img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: darkgray;
    font-size: 18px;
}
.btn:active {
    transform:scale(1.1);

}
.btn_esquerda {
    top: 45%;
    left: 2%;
}
.btn_direita {
    top: 45%;
    right: 2%;
}