.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.slides {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}

.slides img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #a9a9a978;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active {
    transform: scale(1.1);

}

.btn_esquerda {
    top: 45%;
    left: 2%;
}

.btn_direita {
    top: 45%;
    right: 2%;
}

.container-carrosel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.texto-carrossel {
    color: black;
    background-color: #a9a9a96b;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container-carrosel {
        margin: 1rem;
    }
}