body{
    font-family: 'Catamaran', sans-serif;
}
#btn{
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    height: 30%;
    font-size: 0.5cm;
}
button{
    cursor: pointer;
}
#flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}