#img_post {
    display: block; width: 50%; margin: auto;
    box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.397);
}

.text_post {
    text-align: justify;
    text-indent: 25px;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

h2 {
    letter-spacing: 3px;
}

h1, h2 {
    color: blue;
}


.post {
    text-align: center;
    padding: 20px;
    /*border: 1px solid black;*/
    height: 100vw
}

#centro {
    width: 60vw;
    margin: auto;
}