* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}


.adicionar {
  text-decoration: none;
  text-shadow: rgb(51, 51, 51) 0.1em 0.1em 0.2em;
  color: rgb(0, 121, 202);
}

.flex-user {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.lista-dados {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;


}

.thead-color {
  background-color: rgba(33, 33, 33, 0.838)

}

.borda-tabela {
  border: none;
}

.espaço-entre{
  justify-content: space-between;
}


#busca {
  outline: none;
  border: 1.8px solid rgb(0, 0, 0);
  width: 7cm;
  height: 28px;
  margin-right: 15px;

}

a {
  text-decoration: none;
}


#lupa_user {
  background-color: rgba(27, 172, 172, 0);
  border: none;
  color: rgb(0, 0, 0);
}

#lupa_user a {
  color: rgb(0, 0, 0);
  outline: none;
}

#campo_pesquisa {
  margin: auto;
  padding: 25px;

}

#butao-edit {
  color: rgb(0, 153, 255)
}

#butao-delete {
  color: red
}