#login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: min-content;
  height: 100vh;
}
#flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#login .material-symbols-outlined{
    font-size: 80px;
    color: dodgerblue;
}
#btn{
    width: 100%;
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    margin-top: 10%;
    height: 30%;
    font-size: 0.5cm;
}
button{
    cursor: pointer;
}
input{
    border-radius: 5px;
    height: 20px;
}
fieldset{
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
}
p{
    font-size: 10px;
}
#login a{
    font-size: 10px;
    
}


 

 
