.label-usuario {
  margin-top: 15px;
}

#categoria {
  border: none;
  box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.192);
  outline: none;
  width: 45%;
  height: 28px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

#nome:hover {
  transform: scale(1.1);
}

#bottom-cadastrar {
  margin: 20px;
  width: 70%;
  height: 28px;
  outline: none;
  border: none;
  font-size: 15px;
  letter-spacing: 1.4px;
  text-shadow: rgb(51, 51, 51) 0.1em 0.1em 0.2em;
  color: hsl(207, 100%, 95%);
  background: hsl(240, 29%, 50%);
  border-radius: 5px;
  box-shadow: 8px 7px 5px rgba(83, 83, 83, 0.192);
  cursor: pointer;
  background-image: linear-gradient(to right, hsl(240, 29%, 50%), hsl(240, 37%, 74%), hsl(240, 29%, 50%));
}

#bottom-cadastrar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}


.criar-cat {
  margin: 25px 0px;
  color: rgb(51, 48, 48);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th a {
  text-decoration: none;
  text-shadow: rgb(51, 51, 51) 0.1em 0.1em 0.2em;
  color: rgb(0, 121, 202);
}


.flex-usuario {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}


.lista-dados {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;


}

thead {
  background-color: rgba(33, 33, 33, 0.838)
}

.space-between {
  justify-content: space-between;
}


#btn_criar a {
  color: rgb(0, 0, 0);
}

#lupa {
  background-color: rgba(27, 172, 172, 0);
  border: none;
  color: rgb(0, 0, 0);
}

#lupa a {
  color: rgb(0, 0, 0);
  outline: none;
}

#campo_pesquisa {
  margin: auto;
  padding: 25px;

}

#btn-edit {
  color: rgb(0, 153, 255)
}

#btn-delete {
  color: red;
}

#topo {
  margin-top: 50px;
}

.card-categ {
  width: 60vw;
  margin: auto;
}

.card-usuario {
  width: 400px;
  height: 370px;
  margin: 150px auto 0;
  background-color: #6a93ad5d;
  box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.192);
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
}

.criar-usuario {
  flex-direction: column;
  margin: 2px;
  position: relative;
}

.card .img-usuario {
  position: relative;
  height: 26px;
}

#bottom-cadastrar {
  margin: 10px;

}


#img-usuario {
  width: 80px;
  opacity: 0.9;
  margin-top: 30px;
}

table,
th,
td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.192);
  text-align: center;
}


#busca {
  outline: none;
  border: 1.8px solid rgb(0, 0, 0);
  width: 7cm;
  height: 28px;
  margin-right: 15px;
}

table,
th,
td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.192);
  text-align: center;
}


#busca {
  outline: none;
  border: 1.8px solid rgb(0, 0, 0);
  width: 7cm;
  height: 28px;
  margin-right: 15px;
}

#btn_criar {
  background-color: rgb(255, 255, 255);
  margin: 0 20px;
  margin-bottom: 20px;
  height: 32px;
  width: 35px;
}

#btn_criar a {
  color: rgb(0, 0, 0);
}

#lupa {
  background-color: rgba(27, 172, 172, 0);
  border: none;
  color: rgb(0, 0, 0);
}

#lupa a {
  color: rgb(0, 0, 0);
  outline: none;
}

#campo_pesquisa {
  margin: auto;
  padding: 25px;

}

#btn-edit {
  color: rgb(0, 153, 255)
}

#btn-delete {
  color: red;
}

#topo {
  margin-top: 50px;
}

.card-categ {
  width: 60vw;
  margin: auto;
}



.criar-usuario {
  flex-direction: column;
  margin-top: 4vw;
  position: relative;
}

.label-usuario {
  padding: 0.3vw;
}


#bottom-cadastrar {
  margin: 10px;

}


#img-usuario {
  width: 80px;
  opacity: 0.9;
  margin-top: 1.5vw;
}