#noticia-aberta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

#noticia-aberta-cabecalho {
    width: 60%;
}

#noticia-aberta-container-imagem {
    display: flex;
    justify-content: center;
    margin: 12px;
    width: 45%;
}

#noticia-aberta-container-imagem img {
    max-width: 100%;
    max-height: 400px;
}

#noticia-aberta-container-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#noticia-aberta-container-conteudo p {
    text-align: justify;
    width: 60%;
    text-indent: 2em;
}

@media screen and (max-width: 600px) {
    #noticia-aberta {
        margin: 1rem;
    }

    #noticia-aberta-cabecalho {
        width: 100%;
    }

    #noticia-aberta-container-imagem {
        width: 100%;
    }

    #noticia-aberta-container-conteudo p {
        width: 100%;
    }
}