#noticia-aberta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

#noticia-aberta-cabecalho {
    width: 75%;
}

#noticia-aberta-container-imagem {
    display: flex;
    justify-content: center;
    margin: 12px;
}

#noticia-aberta-container-imagem img {
    max-width: 100%;
    max-height: 400px;
}

#noticia-aberta-container-conteudo {
    display: flex;
    justify-content: center;
    width: 100%;
}

#noticia-aberta-container-conteudo p {
    text-align: justify;
    width: 75%;
    text-indent: 2em;
}