@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content p {
    color: white;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}

.site {
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }
}