* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}


.navbar {
    background-image: linear-gradient(to right, #5ce1e6, #5e17eb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    width: 200px;

}

li {
    padding: 0 20px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.material-symbols-outlined {
    color: white;


}

#texto {
    border-radius: 15px;
    border: none;
}

/* cards   */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 50px;
    
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}

.flex {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card img {
    width: 100%;
    
}

.container-nav {
    display: flex;
    flex-direction: column;
}

.container-menu-global {
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
}

.menu-global {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu-global li {
    color: white;
}

#container-logo {
    width: 10%;
    margin-left: 20px;

}

.container-barra {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem;


}

.conteiner-search {
    display: flex;
    align-items: center;
}


.material-symbols-outlined {
    border-radius: 50%;
    color: white;
    font-size: 30px;
}

fieldset {
    border: none;
}

.conteiner-form-input-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisa input {
    width: 100%;
    border-radius: 10px;
}

#pesquisa button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
}


#btn-copy {
    margin: 0 1rem;
    background-image: linear-gradient(to right, #5ce1e6, #5e17eb);
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

#btn-copy2 {
    margin: -1rem 1rem;
    background: red;
    text-decoration: none;
    color: white;
    padding: 1rem;
    width: 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
}


.conteiner-codigo {
    width: 30rem;
    height: 30rem;
    border: 2px solid white;
    background-image: linear-gradient(to right, #5ce1e6, #5e17eb);
    border-radius: 0.5rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.conteiner-codigo:target {
    top: 50%;
}

textarea {
    margin: 3rem 1rem 0 1rem;
}

.conteiner-amigo {
    color: rgb(0, 0, 0);
    text-align: center;
}

.search-new-content {
    width: 30rem;
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.img_search_icon {
    width: 5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 2px;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.4s;


}

.img_search_icon svg {
    width: 3rem;
    height: 3rem;
}


.input_search_content {
    width: 100%;
}

.input_search_content input {
    width: 0%;
    background: none;
    border: none;
    height: 4rem;
    outline: none;
    border: rgba(255, 255, 255, 0) solid 2px;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: all 0.4s;
    margin-left: -2rem;
    padding-left: 2.5rem;
    font-size: 1.5rem;
    color: white;
}

.img_search_icon:hover~.input_search_content input {
    width: 100%;
    cursor: pointer;
    border: rgb(255, 255, 255) solid 2px;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;

}

.input_search_content input:hover {
    width: 100%;
    cursor: pointer;
    border: rgb(255, 255, 255) solid 2px;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}

::placeholder {
    color: white;
}

/*dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

#account_circle {
    font-size: 40px;
    margin-right: 20px;
}

#pesquisa {
    margin-right: 200px;
}

.h1 {
    margin-left: 370px;
}

#barra-pesquisa {
    border: none;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgb(213, 218, 224);
  box-sizing: border-box;
}

.exibicao_post {
  align-items: center;
  padding: 2cm;
  margin: 2cm;

}

#img_post {
  display: block;
  width: 50%;
  margin: auto;
  box-shadow: 8px 7px 20px rgba(83, 83, 83, 0.397);
}

.text_post {
  text-align: justify;
  text-indent: 25px;
}


.titulo {
  padding-bottom: 0.7cm;
  letter-spacing: 5px;
  margin: 1cm;
}


.titulo2 {
  font-size: 37px;
  padding-bottom: 10px;
}

.quemsomos {
  font-size: 18px;
}

h1,
h2 {
  color: blue;
}

#centro {
  width: 60vw;
  margin: auto;
}

.sobre {
  padding: 40px;
  display: flex;
  text-align: center;
  justify-items: center;
  flex-wrap: nowrap;

}

.block {
  margin: 20px;
  height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  /*flex-direction: column;
      align-items: flex-start;*/
}


p {
  margin-top: 20px;
  font-size: 18px;
}

h2 {
  letter-spacing: 3px;
}

.listavalores {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;

}

.listavalores li {
  padding-bottom: 7px;
  font-size: 18px;

}

.obj {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 10%;
  padding: 1cm;
}

.post {
  text-align: center;
  padding: 20px;
  /*border: 1px solid black;*/
  height: 100vw
}

body {
  font-family: 'Catamaran', sans-serif;
}

#cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: min-content;
  height: 100vh;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.material-symbols-outlined {
  font-size: 80px;
  color: dodgerblue;


}

#btn {
  width: 100%;
  background-color: dodgerblue;
  padding: 5px;
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 10%;
  height: 30px;
  font-size: 0.5cm;
}

button {
  cursor: pointer;
}

input {
  border-radius: 5px;
  height: 20px;

}

fieldset {
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
}