.botao-edit {
    color: blue;
}

.botao-delete {
    color: red;
}

.botao-busca {
    color: black;
}

.botao-add {
    color: green;
}

.container-busca {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

.container-busca button {
    border: none;
    background-color: transparent;
}

table,
th,
td {
    box-shadow: inset 0px 0px 2px #888888;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
}

table {
    margin: 12px;
    box-shadow: 5px 10px 8px #888888;
}

thead {
    background-color: rgb(158 158 158 / 60%);
}

@media screen and (max-width: 600px) {
    .container-busca {
        width: 100%;
    }

    .campos-busca {
        width: 50%;
    }

    label {
        text-align: left;
        display: block;
    }
  }