.icone-azul {
    filter: invert(8%) sepia(100%) saturate(7009%) hue-rotate(247deg) brightness(99%) contrast(143%);
}

.icone-vermelho {
    filter: invert(14%) sepia(96%) saturate(5711%) hue-rotate(358deg) brightness(102%) contrast(111%);
}


.icone-verde {
    filter: invert(30%) sepia(36%) saturate(7411%) hue-rotate(128deg) brightness(105%) contrast(105%);
}

.icone-preto {
    filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(231deg) brightness(110%) contrast(115%);
}

.container-busca {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    width: 100%;
}

.container-busca button {
    border: none;
    background-color: transparent;
}

table,
th,
td {
    box-shadow: inset 0px 0px 2px #888888;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
}

table {
    margin: 12px;
    box-shadow: 5px 10px 8px #888888;
}

thead {
    background-color: rgb(158 158 158 / 60%);
}

@media screen and (max-width: 600px) {
    .campos-busca {
        width: 50%;
    }

    label {
        text-align: left;
        display: block;
    }
}